.suggested-container {
  background-color: #16181c;
  border-radius: 16px;
  padding: 15px;
  margin-top: 10px;
  width: 350px;
}

.suggested-container h3 { margin-bottom: 15px; font-size: 20px; }

.suggested-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.suggested-info { display: flex; gap: 10px; text-decoration: none; color: white; }

.suggested-info img { width: 40px; height: 40px; border-radius: 50%; }

.suggested-names { display: flex; flex-direction: column; font-size: 14px; }

.username { color: #71767b; }

.follow-btn-sm {
  background: white;
  color: black;
  border: none;
  padding: 6px 16px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .suggested-container {
    display: none;
  }
}

@media (max-width: 1280px) {
  .suggested-container {
    width: 300px;
  }
}

