.home-tabs {
  display: flex;
  border-bottom: 1px solid #2f3336;
  position: sticky;
  top: 0;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  color: #71767b;
  font-weight: bold;
  transition: 0.2s;
}

.tab:hover {
  background: #181818;
}

.tab.active {
  color: white;
  position: relative;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 4px;
  background-color: #1d9bf0;
  border-radius: 2px;
}