.notifications-page {
  min-height: 100vh;
}

.notifications-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #2f3336;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.delete-all-btn {
  background: transparent;
  color: #1d9bf0;
  border: 1px solid #1d9bf0;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.delete-all-btn:hover {
  background: rgba(29, 155, 240, 0.1);
}

.notification-item {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #2f3336;
  gap: 15px;
  transition: 0.2s;
}

.notification-item:hover {
  background-color: #080808;
}

.notif-icon {
  font-size: 24px;
}

.notif-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notif-content img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.notif-content p {
  color: #e7e9ea;
  font-size: 15px;
}

.no-notifs {
  padding: 40px;
  text-align: center;
  color: #71767b;
}